@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
a {
  color: #00786C; }
  a:hover {
    color: #48A89A; }
  a.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden; }
    a.skip:focus {
      position: static;
      width: auto;
      height: auto; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  max-width: 1200px;
  margin: 0 auto; }

.body-content {
  flex: 4;
  margin-left: 3.5rem; }

footer {
  background-color: #42414F;
  padding: 4rem;
  display: flex; }
  footer #footer-info {
    flex: 2;
    color: #F2F1FF;
    margin-right: 3rem;
    margin-left: 5rem; }
    footer #footer-info a {
      color: #E6D001; }
      footer #footer-info a:hover {
        color: #FFFF50; }
  footer #footer-nav {
    flex: 1;
    border-left: 1.5px solid #F2F1FF; }
  footer ul {
    list-style: none; }
    footer ul a {
      color: #F2F1FF;
      text-decoration: none; }
      footer ul a:hover {
        text-decoration: underline;
        color: #FFFF50; }
    footer ul li {
      margin: 3px; }

h1 {
  font-size: 3.2rem;
  color: #00786C;
  font-weight: 700; }

h2 {
  font-size: 2.4rem;
  color: #42414F;
  font-weight: 600; }

h3 {
  font-size: 2.0rem;
  color: #00786C;
  font-weight: 600; }

h4 {
  font-size: 1.6rem;
  color: #707070;
  font-weight: 700; }

h5 {
  font-size: 1.6rem;
  color: #00786C;
  font-weight: 400; }

#header-nav {
  display: flex;
  max-height: 120px; }
  #header-nav > a {
    padding: 2.5rem 2rem 2.5rem 4rem; }
  #header-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; }
    #header-nav ul li {
      width: 120px;
      height: 120px;
      margin: 3px 2px 0px 2px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      text-align: center;
      font-weight: 600; }
      #header-nav ul li.active {
        background-color: #F2F1FF;
        color: #00786C;
        text-decoration: underline;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px; }
      #header-nav ul li a:link {
        color: #42414F;
        text-decoration: none; }
      #header-nav ul li a:visited {
        color: #42414F;
        text-decoration: none; }
      #header-nav ul li a:hover {
        color: #00786C;
        text-decoration: underline; }
      #header-nav ul li a:active {
        color: #48A89A;
        text-decoration: underline; }

html {
  font-size: 62.5%; }

main {
  background-color: #F2F1FF;
  padding: 2.5rem 4rem 4rem 0rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex; }

#side-nav {
  flex: 1;
  height: inherit;
  background-color: #42414F;
  color: #E6D001;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px; }
  #side-nav ul {
    list-style: none;
    padding: 5px 20px 20px 25px; }
    #side-nav ul li {
      width: 220px;
      height: 50px;
      border: 1.5px solid #E6D001;
      border-radius: 20px;
      margin: 1.5rem 1rem;
      font-weight: 600;
      font-size: 2.0rem;
      box-sizing: border-box;
      padding: 1rem; }
      #side-nav ul li a {
        text-decoration: none;
        color: #E6D001;
        display: flex;
        align-content: center; }
        #side-nav ul li a img {
          margin-right: 8px; }
      #side-nav ul li:hover {
        background-color: #707070; }
      #side-nav ul li.active {
        background-color: #E6D001; }
        #side-nav ul li.active a {
          color: #42414F; }
