@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
a {
  color: #00786C; }
  a:hover {
    color: #48A89A; }
  a.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden; }
    a.skip:focus {
      position: static;
      width: auto;
      height: auto; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  max-width: 1200px;
  margin: 0 auto; }

.body-content {
  flex: 4;
  margin-left: 3.5rem; }
  @media only screen and (max-width: 400px) {
    .body-content {
      flex: 1; } }

footer {
  background-color: #42414F;
  padding: 4rem;
  display: flex; }
  @media only screen and (max-width: 400px) {
    footer {
      display: block;
      padding: 1rem; } }
  footer #footer-info {
    flex: 2;
    color: #F2F1FF;
    margin-right: 3rem;
    margin-left: 5rem; }
    @media only screen and (max-width: 400px) {
      footer #footer-info {
        margin: 0 auto; } }
    footer #footer-info a {
      color: #E6D001; }
      footer #footer-info a:hover {
        color: #FFFF50; }
  footer #footer-nav {
    flex: 1;
    border-left: 1.5px solid #F2F1FF; }
    @media only screen and (max-width: 400px) {
      footer #footer-nav {
        border-left: none;
        border-top: 1.5px solid #F2F1FF;
        margin-top: 2rem; }
        footer #footer-nav ul {
          display: flex;
          flex-flow: column wrap;
          max-height: 110px;
          justify-content: space-evenly;
          padding-left: 1rem; } }
  footer ul {
    list-style: none; }
    footer ul a {
      color: #F2F1FF;
      text-decoration: none; }
      footer ul a:hover {
        text-decoration: underline;
        color: #FFFF50; }
    footer ul li {
      margin: 3px; }

h1 {
  font-size: 3.2rem;
  color: #00786C;
  font-weight: 700; }

h2 {
  font-size: 2.4rem;
  color: #42414F;
  font-weight: 600; }

h3 {
  font-size: 2.0rem;
  color: #00786C;
  font-weight: 600; }

h4 {
  font-size: 1.6rem;
  color: #707070;
  font-weight: 700; }

h5 {
  font-size: 1.6rem;
  color: #00786C;
  font-weight: 400; }

#header-nav {
  display: flex;
  max-height: 120px; }
  @media only screen and (max-width: 400px) {
    #header-nav {
      flex-flow: row nowrap;
      max-height: none; } }
  #header-nav > a {
    padding: 2.5rem 2rem 2.5rem 4rem; }
    @media only screen and (max-width: 400px) {
      #header-nav > a {
        padding: 0;
        flex: 30%; } }
    #header-nav > a > img {
      width: 16rem; }
      @media only screen and (max-width: 400px) {
        #header-nav > a > img {
          width: 80%;
          margin: 0 auto; } }
  #header-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 400px) {
      #header-nav ul {
        flex-flow: column wrap;
        flex: 3;
        max-height: 200px; } }
    #header-nav ul li {
      width: 120px;
      height: 120px;
      margin: 3px 2px 0px 2px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      text-align: center;
      font-weight: 600; }
      @media only screen and (max-width: 400px) {
        #header-nav ul li {
          margin: 0;
          padding: .5rem;
          height: 5rem;
          width: 7rem; }
          #header-nav ul li a > img {
            width: 2rem; } }
      #header-nav ul li.active {
        background-color: #F2F1FF;
        color: #00786C;
        text-decoration: underline;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px; }
        @media only screen and (max-width: 400px) {
          #header-nav ul li.active {
            border-radius: 10px; } }
      #header-nav ul li a:link {
        color: #42414F;
        text-decoration: none; }
      #header-nav ul li a:visited {
        color: #42414F;
        text-decoration: none; }
      #header-nav ul li a:hover {
        color: #00786C;
        text-decoration: underline; }
      #header-nav ul li a:active {
        color: #48A89A;
        text-decoration: underline; }
      #header-nav ul li img {
        width: 50px; }

html {
  font-size: 62.5%; }

main {
  background-color: #F2F1FF;
  padding: 2.5rem 4rem 4rem 0rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex; }
  @media only screen and (max-width: 400px) {
    main {
      flex-flow: row wrap;
      padding: 0 0 3rem 0; } }

#side-nav {
  flex: 1;
  height: inherit;
  background-color: #42414F;
  color: #E6D001;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px; }
  @media only screen and (max-width: 400px) {
    #side-nav {
      border-radius: 20px; } }
  #side-nav ul {
    list-style: none;
    padding: 5px 20px 20px 25px; }
    @media only screen and (max-width: 400px) {
      #side-nav ul {
        padding: 1rem 2rem;
        margin: 0; } }
    #side-nav ul li {
      width: 220px;
      height: 50px;
      border: 1.5px solid #E6D001;
      border-radius: 20px;
      margin: 1.5rem 1rem;
      font-weight: 600;
      font-size: 2.0rem;
      box-sizing: border-box;
      padding: 1rem; }
      @media only screen and (max-width: 400px) {
        #side-nav ul li {
          width: 90%;
          height: 2.5rem;
          margin: .5rem;
          font-size: 1.4rem;
          padding: 0;
          border: none; } }
      #side-nav ul li a {
        text-decoration: none;
        color: #E6D001;
        display: flex;
        align-content: center; }
        #side-nav ul li a img {
          margin-right: 8px;
          width: 32px; }
          @media only screen and (max-width: 400px) {
            #side-nav ul li a img {
              width: 2rem; } }
      #side-nav ul li:hover {
        background-color: #707070; }
      #side-nav ul li.active {
        background-color: #E6D001; }
        #side-nav ul li.active a {
          color: #42414F; }
