@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$color-light: #F2F1FF;
$color-mid: #707070;
$color-dark: #42414F;
$color-main: #00786C;
$color-main-light: #48A89A;
$color-main-dark: #004B41;
$color-accent: #E6D001;
$color-accent-light: #FFFF50;
$color-accent-dark: #AF9E00;
$color-warning: #D54308;

a {
    color: $color-main;
    &:hover {
        color: $color-main-light;
    }
    &.skip { 
        position:absolute; 
        left:-10000px; 
        top:auto; 
        width:1px; 
        height:1px; 
        overflow:hidden;
        &:focus 
        { 
            position:static; 
            width:auto; 
            height:auto; 
        } 
    }
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    max-width: 1200px;
    margin: 0 auto;
}
.body-content {
    flex: 4;
    margin-left: 3.5rem;
}
footer {
    background-color: $color-dark;
    padding: 4rem;
    display: flex;
    #footer-info {
        flex: 2;
        color: $color-light;
        margin-right: 3rem;
        margin-left: 5rem;
        a {
            color: $color-accent;
            &:hover {
                color: $color-accent-light;
            }
        }
    }
    #footer-nav {
        flex: 1;
        border-left: 1.5px solid $color-light;
    }
    ul {
        list-style: none;        
        a {
            color: $color-light;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: $color-accent-light;
            }
        }
        li {
            margin: 3px;
        }
    }
}
h1 {
    font-size: 3.2rem;
    color: $color-main;
    font-weight: 700;
}
h2 {
    font-size: 2.4rem;
    color: $color-dark;
    font-weight: 600;
}
h3 {
    font-size: 2.0rem;
    color: $color-main;
    font-weight: 600;
}
h4 {
    font-size: 1.6rem;
    color: $color-mid;
    font-weight: 700;
}
h5 {
    font-size: 1.6rem;
    color: $color-main;
    font-weight: 400;
}

#header-nav {
    display: flex;
    max-height: 120px;
    > a {
        padding: 2.5rem 2rem 2.5rem 4rem;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        li {
            width: 120px;
            height: 120px;
            margin: 3px 2px 0px 2px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            text-align: center;
            font-weight: 600;
            &.active {
                background-color: $color-light;
                color: $color-main;
                text-decoration: underline;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            a:link {
                color: $color-dark;
                text-decoration: none;
            }
            a:visited {
                color: $color-dark;
                text-decoration: none;
            }
            a:hover {
                color: $color-main;
                text-decoration: underline;
            }
            a:active {
                color: $color-main-light;
                text-decoration: underline;
            }
        }
    }
}
html {
    font-size: 62.5%;
}
main {
    background-color: $color-light;
    padding: 2.5rem 4rem 4rem 0rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
}
#side-nav {
    flex: 1;
    height: inherit;
    background-color: $color-dark;
    color: $color-accent;     
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    ul {
        list-style: none;
        padding: 5px 20px 20px 25px;
        li {
            width: 220px;
            height: 50px;
            border: 1.5px solid $color-accent;
            border-radius: 20px;
            margin: 1.5rem 1rem;
            font-weight: 600;
            font-size: 2.0rem;
            box-sizing: border-box;
            padding: 1rem;
            a {
                text-decoration: none;
                color: $color-accent;
                display: flex;
                align-content: center;
                img {
                    margin-right: 8px;
                }
            }            
            &:hover {
                background-color: $color-mid;
            }
            &.active {
                background-color: $color-accent;
                a {
                   color: $color-dark;
                }
            }
        }
    }
}