 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$color-light: #F2F1FF;
$color-mid: #707070;
$color-dark: #42414F;
$color-main: #00786C;
$color-main-light: #48A89A;
$color-main-dark: #004B41;
$color-accent: #E6D001;
$color-accent-light: #FFFF50;
$color-accent-dark: #AF9E00;
$color-warning: #D54308;

a {
    color: $color-main;
    :link {
        color: $color-main;
    }
    :visited {
        color: $color-main;
    }
    :hover {
        color: $color-main-light;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    max-width: 1200px;
    margin: 0 auto;
}
footer {
    background-color: $color-dark;
    padding: 4rem;
}
h1 {
    font-size: 3.2rem;
    color: $color-main;
    font-weight: 700;
}
h2 {
    font-size: 2.4rem;
    color: $color-dark;
    font-weight: 600;
}

#header-nav {
    display: flex;
    max-height: 120px;
    > a {
        padding: 2.5rem 3rem;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        li {
            width: 120px;
            height: 120px;
            margin: 3px 2px 0px 2px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            text-align: center;
            font-weight: 600;
            &.active {
                background-color: $color-light;
                color: $color-main;
                text-decoration: underline;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            a:link {
                color: $color-dark;
                text-decoration: none;
            }
            a:visited {
                color: $color-dark;
                text-decoration: none;
            }
            a:hover {
                color: $color-main;
                text-decoration: underline;
            }
            a:active {
                color: $color-main-light;
                text-decoration: underline;
            }
        }
    }
}
html {
    font-size: 62.5%;
}
main {
    background-color: $color-light;
    padding: 4rem;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}